.sidebar{
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    list-style: none;
    margin: 0px;
    background-color: gainsboro;
  }

        .room-list{
            padding: 5px;
            margin-top: 15px;
            left: 10px
        }

                .btn-info{
                    margin: 0px auto;
                    margin-top: 15px;
                }

.create-room{
    width: 180px;
    margin: 0 auto;
    margin-bottom: 20px;
}

        .form-control{
            margin-bottom: 3px;
        }

.createMessage{
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 30px;
}

.header > h1{
    margin: 0;
    padding-bottom: 35px;
}

.messageList{
    justify-content: center;
    margin: 0 auto;
    text-align: center;
} 

.messageListTitle{
    font-size: 30px;
    text-decoration: underline;
}

.messageList > table{
    margin: 0 auto;
}

.user{
    padding-bottom: 30px;
}

.row > span{
    margin: 0 auto;
}

.left{
    align-content: right;
}

.sendMessage{
    border-radius: 50px;
    width: 25%;
}
